<!doctype html>
<html>
    <head>
        <title> 
            {% block title %} {% endblock %}
        </title>
        
        {% block head %} {% endblock %}

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
        crossorigin="anonymous">

        <!-- Custom Styles CSS -->
        <link rel="stylesheet" href="/static/css/maps.css"/>
        <link rel="stylesheet" href="/static/css/navigation.css"/>
        <link rel="stylesheet" href="/static/css/park-details-scroll.css"/>
        <link rel="stylesheet" href="/static/css/homepage.css"/>
        
    </head>

    <body class="body-padding">
        <!-- {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
            {{ msg }} 
        </p>
        {% endfor %} -->

        <div id="flash-messages" style="padding-left: 18rem; color: white; background-color: forestgreen; margin-bottom: -10px;">
            <h3>
           {% with messages = get_flashed_messages() %}
              {% if messages %}
                 {% for message in messages %}
                    <b style="font-size: 22px;">{{ message }}</b>
                 {% endfor %}
              {% endif %}
           {% endwith %}
          </h3>
          </div>

        <div id="navigation"> 
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
            
            <div class="navbar-margin-left">
                <a class="navbar-brand" href="/" id="home"> Parks </a>
            </div>
            
                <div class="d-flex" id="navbarSupportedContent">
                <div class="navbar-margin-right">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" id="search-icon">
                            <a class="nav-link active" aria-current="page" href="/search" id="search"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                  </svg>
                                  Search for a park</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="/login" id="login"> Login</a>
                        </li>

                        <li class="nav-item dropdown" id="navbar-dropdown-width">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                User
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="height: fit-content; overflow-y: unset;">
                                <li>
                                    <a class="dropdown-item" href="/profile" id="my_profile"> My Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/plan-trip" id="plan-trip"> Plan a trip!</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="/logout" id="logout"> Logout </a>
                                </li>
                </div>
                </div>
            </nav>
        </div>

        {% block body %} {% endblock %}
        
        <!-- Bootstrap JavaScript Bundle with Popper (a Bootstrap dependency for popovers) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous">
        </script>
        
        <!-- Custom JS -->
        <script src="/static/js/logout.js"></script>
    
    </body>
</html>