{% extends 'base.html' %}

{% block title %} Parks Homepage {% endblock %}

{% block body %} 

<div class="container-fluid" id="welcome">

        <div class="row homepage-cover-image">
            <div class="homepage-image"> </div>
            <div class="homepage-quote-background-alignment">
            </div>
            
            <div class="homepage-quote-alignment">
                <h1 id="park_name"> Let Nature Be Nature </h1>    
            </div>
        </div>
</div>

<br>

<div class="container-fluid" style="background: whitesmoke; margin-top: -23px; padding-bottom: 20px;">
<div class="container">

    <div class="row">
        <div class="col-4">
            <div class="homepage-options">
                <div class="homepage-grid">
                    <a href="/parks" class="homepage-title">
                        View All National Parks
                        <img src="/static/img/all-parks.jpg" class="homepage-options-image">
                    </a>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="homepage-options">
                <div class="homepage-grid">
                    <a href="/search" class="homepage-title">
                        Search For a Park
                        <img src="/static/img/search-park.jpg" class="homepage-options-image">
                    </a>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="homepage-options">
                <div class="homepage-grid">
                    <a href="/login" class="homepage-title">
                        Log In / Sign Up
                        <img src="/static/img/sample.jpg" class="homepage-options-image">
                    </a>
                </div>
            </div>
        </div>


    <br>
    </div>
</div>
</div>
{% endblock %}