{% extends 'base.html' %}

{% block title %} Log In/ Sign up {% endblock %}

{% block body %}

    <h2> Log In </h2>
    <form action="/login" method="POST">
        <p>
            <input name="request_url" value={{ request_url }} hidden>
        </p>
        <p>
            Email <input type="text" name="email">
        </p>
        <p>
            Password <input type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>


    <h2> Sign Up </h2>
    <form action="/signup" method="POST">
        <p>
            <input name="request_url" value={{ request_url }} hidden>
        </p>
        <p> 
            First Name <input type="text" name="fname" required> 
            Last Name <input type="text" name="lname" required> 
        </p>

        <p>
            Email <input type="text" name="email" required>
        </p>
        <p>
            Password <input type="password" name="password" required>
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

{% endblock %}