{% extends 'base.html' %}

{% block title %} {{park.park_name}} - Details {% endblock %}

{% block head %}
    <!-- React Library -->  
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
{% endblock %}

{% block body %}

    <h1 id="park_name"> {{ park.park_name }} </h1>
    <p id="park_id" hidden> {{ park.id }} </p>

    <div class="fav-wish-buttons">
        <form action="/parks/{{ park.id }}/favorite" name="favorite" method="POST"> 
            <input type="submit" name="user_favorite" id="user_favorite" value="Add to Favorites" >
        </form>

        <form action="/parks/{{ park.id }}/wishlist" name="wishlist" method="POST"> 
            <input type="submit" name="user_wishlist" id="user_wishlist" value="Add to Wishlist"> 
        </form>
    </div>


    <p>
        <b> Alerts: </b>
            <div class="scroll-container">
                <p class="scroll-text"> 
                    {% for alert in alerts %}
                            <nobr> <b> {{ alert.description }} | </b> </nobr>            
                    {% endfor %}
                </p>
            </div>
    </p>


    <p>
        <b> General Information: </b>
        <p> {{ park.general_info }} </p>
    </p>


    <p>
        <b> Main Attractions: </b>
            <ul>
                {% for attraction in main_attractions %}
                    <li> 
                        <a href="" class="attraction" id="{{ attraction.id }}"> {{ attraction.title }} </a>
                        <div class="result_attraction_details" id="result_{{ attraction.id }}"> </div>
                    </li>
                {% endfor %}
            </ul>
    </p>


    <p id="lat" hidden> {{ park.location_lat }} </p>
    <p id="long" hidden> {{ park.location_long }} </p>


    <p>
        <b> Location: </b>
    </p>

    <section class="map">
        <div id="map"></div>
    </section>


    <div id="react_container"> </div>


    
    <!-- JS -->
    <script src="/static/js/maps-park-details.js"></script>
    
    <script
        async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMiuAyoo-rGsBKsjt_Qav5rRB-xX7N87k&callback=initMap">
    </script>

    <script src="/static/js/park-details.js"> </script>

    <script src="/static/js/review-comments.jsx" type="text/jsx"></script>

{% endblock %}