{% extends 'base.html' %}

{% block title %} Search Bar {% endblock %}

{% block body %}

    <h1> Search for a Park </h1>

    <div class="form-container">
        <p>
            Select a park <select name="park" id="park-name" placeholder="Select a park name..">
                <option  id="default-option-park" value="Select a park.."> Select a park.. </option>
                    {% for park in all_parks %}
                <option id="selected-option" value="{{ park.id }}" > {{ park.park_name }} </option>
                {% endfor %}
            </select>
        </p>
    </div>


    <form class="form" method="GET" action="/search/advance_search_result">
        <h2> Search </h2>

        <div class="form-container-state">
            <p>
                By State <select name="state" class="state-name" placeholder="Select a state..">
                    <option id="default-option-state" value="">Select a state..</option>
                    {% for state in all_states %}
                        <option id="selected-state" value="{{ state }}"> {{ state }} </option>
                    {% endfor %}
                </select>
            </p>
        </div>


        <div class="dropdown activity">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" 
            aria-expanded="false">
            Select activity
            </button>
            <ul class="dropdown-menu">
                {% for activity in all_activities %}
                <li> 
                    <a class="dropdown-item small" href="#" data-value="{{ activity }}" tabIndex="-1"> 
                        <input type="checkbox" class="checkbox-activity" name="activity" value="{{ activity }}"/> &nbsp;{{ activity }} 
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        

        <div class="dropdown topic">
            <button class="btn btn-secondary dropdown-toggle" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Select topic
            </button>
            <ul class="dropdown-menu">
                {% for topic in all_topics %}
                <li> 
                    <a class="dropdown-item small" href="#" data-value="{{ topic }}" tabIndex="-1"> 
                        <input type="checkbox" class="checkbox-topic" name="topic" value="{{ topic }}"/> &nbsp;{{ topic }} 
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>



        <div class="form-container-submit">
            <p>
                <input type="submit" name="search" id="search" value="Submit"> 
            </p>
        </div>
    
    </form>

    <form class="form-state-map" method="GET" action="/search/state_map_result">
        <img src="https://www.nps.gov/customcf/park-search/img/nat-map-final-1208.jpg" alt="National Map" width="100%" style="max-width:568px;" border="0" usemap="#search-map" />
        <map name="search-map" id="search-map">
            <area shape="rect" alt="Hawaii" coords="171,307,251,367" href="" class="map-state" />
            <area shape="rect" alt="Virgin Islands" coords="453,308,500,370" href="" class="map-state" />
            <area shape="rect" alt="Northern Mariana Islands" coords="444,228,519,300" href="" class="map-state" />
            <area shape="rect" alt="Puerto Rico" coords="385,309,446,363" href="" class="map-state" />
            <area shape="rect" alt="Guam" coords="336,309,374,364" href="" class="map-state" />
            <area shape="rect" alt="American Samoa" coords="264,308,323,358" href="" class="map-state" />
            <area shape="poly" alt="Alaska" coords="98,269, 107,272, 136,314, 122,332, 128,331, 147,357, 135,356, 112,331, 81,332, 75,338, 69,347, 65,347, 63,341, 50,350, 46,352, 46,355, 39,352, 33,353, 23,352, 29,350, 56,339, 55,334, 52,333, 45,329, 44,323, 38,316, 40,306, 47,302, 50,301, 55,300, 53,296, 43,292, 44,284, 53,284, 56,284,
            55,269, 69,261, 84,263, 88,266" href="" class="map-state" />

            <area shape="poly" alt="California" coords="22,76,15,102,32,173,60,198,80,200,87,185,57,139,51,119,56,88,22,77,71,184,69,184"  href="" class="map-state" />
            <area shape="poly" alt="Nevada" coords="59,90,53,118,84,170,90,154,98,149,104,101" href="" class="map-state"  />
            <area shape="poly" alt="Arizona" coords="96,159,92,183,81,204,112,220,130,223,137,162,96,159" href="" class="map-state" />
            <area shape="poly" alt="New Mexico" coords="142,164,133,223,140,226,141,219,186,219,189,168" href="" class="map-state" />
            <area shape="poly" alt="Washington" coords="42,5,41,29,64,42,90,44,98,16,41,5" href="" class="map-state" />
            <area shape="poly" alt="Oregon" coords="41,37,55,48,85,50,84,92,25,75" href="" class="map-state" />
            <area shape="poly" alt="Idaho" coords="99,16,92,56,87,94,130,101,134,80,112,49,109,18" href="" class="map-state" />
            <area shape="poly" alt="Utah" coords="110,108,143,115,139,158,102,154,105,111" href="" class="map-state" />
            <area shape="poly" alt="Colorado" coords="147,118,143,159,199,165,203,126" href="" class="map-state" />
            <area shape="poly" alt="Arkansas" coords="257,300" href="" class="map-state" />
            <area shape="poly" alt="Montana" coords="116,20,119,50,134,69,190,74,194,31" href="" class="map-state" />
            <area shape="poly" alt="Wyoming" coords="134,108,186,116,189,81,139,75" href="" class="map-state" />
            <area shape="poly" alt="Texas" coords="156,225,171,236,173,250,188,256,193,250,205,249,223,276,224,286,244,295,245,273,275,250,274,223,274,209,261,204,235,205,218,196,217,176,195,174,193,225" href="" class="map-state" />
            <area shape="poly" alt="North Dakota" coords="197,32,195,64,250,66,246,33" href="" class="map-state" />
            <area shape="poly" alt="South Dakota" coords="193,70,191,96,249,102,251,74,244,70,198,68" href="" class="map-state" />
            <area shape="poly" alt="Nebraska" coords="192,99,189,119,207,121,207,132,259,135,249,106" href="" class="map-state" />
            <area shape="poly" alt="Kansas" coords="207,137,202,167,267,166,268,145,258,139" href="" class="map-state" />
            <area shape="poly" alt="Oklahoma" coords="197,167,197,172,222,175,222,194,239,203,266,202,266,173,259,171" href="" class="map-state" />
            <area shape="poly" alt="Minnesota" coords="248,34,252,70,252,94,293,94,281,80,280,67,283,60,300,44" href="" class="map-state" />
            <area shape="poly" alt="Iowa" coords="256,97,294,98,295,105,302,113,294,126,261,126,256,107" href="" class="map-state" />
            <area shape="poly" alt="Missouri" coords="263,130,270,144,271,170,315,171,312,159,302,152,304,147,294,131" href="" class="map-state" />
            <area shape="poly" alt="Arkansas" coords="270,176,307,175,305,180,310,180,303,203,300,212,276,213,275,206,269,203" href="" class="map-state" />
            <area shape="poly" alt="Louisiana" coords="277,215,277,228,283,235,277,249,293,253,310,257,321,256,320,248,314,238,297,238,304,221,299,216" href="" class="map-state" />
            <area shape="poly" alt="Wisconsin" coords="297,57,288,63,285,75,295,89,296,102,304,105,322,102,323,81,321,72,305,63" href="" class="map-state" />
            <area shape="poly" alt="Illinois" coords="305,110,296,129,307,148,317,163,323,163,328,145,326,115,320,106" href="" class="map-state" />
            <area shape="poly" alt="Mississippi" coords="310,191,303,212,304,219,306,223,302,236,316,235,320,243,329,240,327,227,326,191" href="" class="map-state" />
            <area shape="poly" alt="Alabama" coords="329,189,329,229,331,240,340,239,336,233,360,230,358,221,360,216,351,188" href="" class="map-state" />
            <area shape="poly" alt="Florida" coords="342,240,340,235,362,232,365,236,396,232,416,269,416,289,409,289,393,276,385,253,373,244,352,249" href="" class="map-state" />
            <area shape="poly" alt="Georgia" coords="353,187,363,216,360,222,365,233,396,230,396,221,399,214,388,203,373,189" href="" class="map-state" />
            <area shape="poly" alt="South Carolina" coords="378,182,372,186,379,190,391,202,400,212,412,197,415,190,405,182,396,183,393,181,378,182" href="" class="map-state" />
            <area shape="poly" alt="Tennessee" coords="317,173,309,189,369,185,379,175,387,165" href="" class="map-state" />
            <area shape="poly" alt="North Carolina" coords="395,163,378,181,407,180,418,189,435,183,447,162,438,158" href="" class="map-state" />
            <area shape="poly" alt="Michigan" coords="304,58,321,67,333,84,338,101,333,110,361,107,368,93,352,65,346,56,314,51" href="" class="map-state" />
            <area shape="poly" alt="Indiana" coords="328,114,330,138,329,147,329,156,343,151,348,143,351,139,349,111" href="" class="map-state" />
            <area shape="poly" alt="Ohio" coords="352,112,353,139,374,142,384,128,383,103,369,112,361,109" href="" class="map-state" />
            <area shape="poly" alt="Kentucky" coords="318,171,319,166,325,165,328,158,345,153,354,142,372,144,373,149,379,154,387,163" href="" class="map-state" />
            <area shape="poly" alt="West Virginia" coords="386,129,387,129,374,144,375,149,390,163,408,139,413,128,408,125" href="" class="map-state" />
            <area shape="poly" alt="Virginia" coords="414,130,399,155,394,162,434,157,426,139" href="" class="map-state" />
            <area shape="poly" alt="Maine" coords="458,22,472,22,485,45,460,66,453,48,456,42" href="" class="map-state" />
            <area shape="poly" alt="New York" coords="395,86,391,99,430,93,433,98,442,88,435,69,428,59" href="" class="map-state" />
            <area shape="poly" alt="Pennsylvania" coords="389,101,385,105,387,125,412,123,414,119,432,119,435,114,430,108,431,101,427,95" href="" class="map-state" />

            <area shape="rect" alt="Washington DC" coords="497,165,517,175" href="" class="map-state" />
            <area shape="rect" alt="Delaware" coords="497,154,517,164" href="" class="map-state" />
            <area shape="rect" alt="Maryland" coords="497,143,517,153" href="" class="map-state" />
            <area shape="rect" alt="New Jersey" coords="497,129,517,139" href="" class="map-state" />
            <area shape="rect" alt="Connecticut" coords="497,118,517,128" href="" class="map-state" />
            <area shape="rect" alt="Rhode Island" coords="497,104,517,114" href="" class="map-state" />
            <area shape="rect" alt="Massachusetts" coords="497,84,517,94" href="" class="map-state" />
            <area shape="rect" alt="New Hampshire" coords="497,65,517,75" href="" class="map-state" />
            <area shape="rect" alt="Vermont" coords="497,53,517,63" href="" class="map-state" />
        </map>
    </form>


    <!-- JS -->
    <script src="/static/js/search.js"> </script>

{% endblock %}
    
