{% extends 'base.html' %}

{% block title %} Search Bar {% endblock %}

{% block body %}

    <h1> Search for a Park </h1>

    <div class="form-container">
        <!-- <form class="form" method="GET" action="/search/result"> -->
            <p>
                Select a park <select name="park" id="park-name" placeholder="Select a park name..">
                    <option  id="default-option-park" value="Select a park.."> Select a park.. </option>
                        {% for park in all_parks %}
                    <option id="selected-option" value="{{ park.id }}" > {{ park.park_name }} </option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <!-- <input type="submit" id="search-name" value="Search">
                <input type="submit" id="clear-name" value="Clear">  -->
            </p>
        <!-- </form> -->
    </div>


    <form class="form" method="GET" action="/search/advance_search_result">
        <h2> Search </h2>

        <div class="form-container-state">
            <!-- <form class="form-state" method="GET" action="/search/result"> -->
                <p>
                    By State <select name="state" class="state-name" placeholder="Select a state..">
                        <option id="default-option-state" value="">Select a state..</option>
                        {% for state in all_states %}
                            <option id="selected-state" value="{{ state }}"> {{ state }} </option>
                        {% endfor %}
                    </select>
                </p>
            <!-- </form> -->
        </div>

        <!-- ORIGINAL CODE (WITHOUT DROPDOWN MENU)
        <div class="form-container-activity">
            <p>
                By Activity: <br>
                {% for activity in all_activities[:5] %}
                     <input type="checkbox" class="checkbox-activity" name="activity" value="{{ activity }}"> {{ activity }} <br>
                {% endfor %}
            </p>
        </div>
        
        ORIGINAL CODE (WITHOUT DROPDOWN MENU) ENDS -->

        <!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-mdb-toggle="dropdown" aria-expanded="false">
            Select activity
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for activity in all_activities %}
                <li>
                    <a class="dropdown-item" href="#">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ activity }}" id="{{ activity }}"/>
                            <label class="form-check-label" for="{{ activity }}"> {{ activity }} </label>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div> -->


        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="button-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        Activity
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        {% for activity in all_activities %}
                        <li>
                            <a href="#" class="small" data-value="{{ activity }}" tabIndex="-1">
                                <input type="checkbox"/>&nbsp;{{ activity }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
            </div>
        </div> -->



        <div class="dropdown activity">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" 
            aria-expanded="false">
            Select activity
            </button>
            <ul class="dropdown-menu">
                {% for activity in all_activities %}
                <li> 
                    <a class="dropdown-item small" href="#" data-value="{{ activity }}" tabIndex="-1"> 
                        <input type="checkbox" class="checkbox-activity" name="activity" value="{{ activity }}"/> &nbsp;{{ activity }} 
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- ORIGINAL CODE (WITHOUT DROPDOWN MENU)
        <div class="form-container-topic">
            <p>
                By Topic: <br>
                {% for topic in all_topics[:5] %}
                     <input type="checkbox" class="checkbox-topic" name="topic" value="{{ topic }}"> {{ topic }} <br>
                {% endfor %}
            </p>
        </div>
        ORIGINAL CODE (WITHOUT DROPDOWN MENU) ENDS -->
        

        <div class="dropdown topic">
            <button class="btn btn-secondary dropdown-toggle" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Select topic
            </button>
            <ul class="dropdown-menu">
                {% for topic in all_topics %}
                <li> 
                    <a class="dropdown-item small" href="#" data-value="{{ topic }}" tabIndex="-1"> 
                        <input type="checkbox" class="checkbox-topic" name="topic" value="{{ topic }}"/> &nbsp;{{ topic }} 
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>



        <div class="form-container-submit">
            <p>
                <input type="submit" name="search" id="search" value="Submit"> 
                <!-- <button name="clear" id="clear"> Clear </button> -->
            </p>
        </div>
    
    </form>


    <script src="/static/js/search.js"> </script>

{% endblock %}
    
